In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('sample_data/HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
#gen the categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [4]:
#check the number of unique values in each column 
  #if there are more than 10 you have to bucket them
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [5]:
#perform the one-hot encoding on the whole list at once

#create the one hot encoder instance
enc = OneHotEncoder(sparse=False)

#fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

#add the encoded variable names to the df
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
#merge the one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [9]:
#split the preprocessed data into the the features and target arrays
y=attrition_df['Attrition_Yes'].values
X=attrition_df.drop(['Attrition_Yes', 'Attrition_No'],1).values

#Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=78)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
#create a StandardScaler instance
scaler = StandardScaler()

#fit the scaler
X_scaler = scaler.fit(X_train)

#scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
#define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

#instant the model
nm = tf.keras.models.Sequential()

#def the first hidden layer
nm.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
                             input_dim=number_input_features, activation="relu"))

#add second layer
nm.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

#add output layer
nm.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

#check the structure of the model
nm.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 448

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [12]:
#compile the model
nm.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
#train the model
fit_model = nm.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4571 - accuracy: 0.8294
Epoch 2/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4570 - accuracy: 0.8294
Epoch 3/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4570 - accuracy: 0.8294
Epoch 4/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4569 - accuracy: 0.8294
Epoch 5/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4569 - accuracy: 0.8294
Epoch 6/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4569 - accuracy: 0.8294
Epoch 7/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4568 - accuracy: 0.8294
Epoch 8/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4568 - accuracy: 0.8294
Epoch 9/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4568 - accuracy: 0.8294
Epoch 10/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4568 - accuracy: 0.8294
Epoch 11/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4567 - accuracy: 0.8294
Epoch 12/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4567 - accuracy: 0.8294
Epoch 13/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4567 - accuracy: 0.8294
Epoch 14/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4567 - accuracy: 0.8294
Epoch 15/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4567 - accuracy: 0.8294
Epoch 16/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4567 - accuracy: 0.8294
Epoch 17/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.8294
Epoch 18/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.8294
Epoch 19/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.8294
Epoch 20/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.8294
Epoch 21/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.8294
Epoch 22/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.8294
Epoch 23/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.8294
Epoch 24/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.8294
Epoch 25/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.8294
Epoch 26/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.8294
Epoch 27/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.8294
Epoch 28/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.8294
Epoch 29/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 30/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 31/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 32/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 33/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 34/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 35/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 36/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 37/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 38/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 39/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 40/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 41/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 42/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 43/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 44/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 45/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 46/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 47/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 48/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 49/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 50/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 51/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 52/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 53/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 54/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 55/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 56/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 57/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 58/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 59/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 60/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 61/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 62/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 63/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 64/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 65/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 66/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 67/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 68/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 69/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 70/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 71/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 72/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 73/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 74/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 75/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 76/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 77/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 78/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 79/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 80/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 81/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 82/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 83/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 84/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 85/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 86/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 87/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 88/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 89/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 90/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 91/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 92/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 93/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 94/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 95/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 96/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 97/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4565 - accuracy: 0.8294
Epoch 98/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4649 - accuracy: 0.8258
Epoch 99/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4638 - accuracy: 0.8267
Epoch 100/100
35/35 [==============================] - 0s 2ms/step - loss: 0.4597 - accuracy: 0.8276

In [16]:
#Evaluate the model using the test data
model_loss, model_accuracy = nm.evaluate(X_test, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.3890 - accuracy: 0.8723 - 28ms/epoch - 2ms/step
Loss: 0.3889842927455902, Accuracy: 0.8722826242446899